<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {%- for categorie in site.categories -%}
          {% if categorie[0] != "hidden" %}
            {{categorie[0] }}({{categorie[1]|size}})
            <ul style="margin: 0 0 10px">  
              {%- for post in categorie[1] -%}
              {%- assign date_format = site.minimal.date_format | default: "%Y-%m-%d" -%}
              <li>
                <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
              </li>
              {%- endfor -%}
            </ul>
          {% endif %}
          
        {%- endfor -%}

      </header>
      
      
      
      <section>

      {{ content }}

      </section>
      <footer>
        <p>
          <small>
            Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/pages-themes/minimal">minimal</a>.
            <br/>
            Tel:{{site.tel}}. Mail:{{site.email}}
          </small>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
